<!-- 所有する株式一覧を表示する -->
<HTML>
<head>
    <title>所有銘柄一覧</title>
</head>
<body>
    <h1>所有銘柄一覧</h1>
    <form th:action="@{/stock/updatePrice}" method="post">
        <table border="1">
            <thead>
                <tr>
                    <th>チェック</th>
                    <th>銘柄コード</th>
                    <th>銘柄名</th>
                    <th>国名</th>
                    <th>現在の株価</th>
                </tr>
            </thead>
            <tbody>
            <!-- if emptyを使用して、銘柄がない場合のメッセージを表示 -->
            <tr th:if="${#lists.isEmpty(stock)}">
                <td colspan="4">所有する銘柄がありません。</td>
            </tr>
            <!-- 銘柄データのループ -->
            <tr th:each="stock : ${stock}">
                <td><input type="checkbox" name="selectedIds" th:value="${stock.id}" /></td>
                <td th:text="${stock.code}">1234</td>
                <td th:text="${stock.name}">Example Stock</td>
                <td th:text="${stock.country}">JP</td>
                <td th:text="${stock.current_price}">1000</td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="株価更新" th:if="${not #lists.isEmpty(stock)}" />
    </form>
    <p><a href="/owner">所有者一覧に戻る</a></p>
</body>
</html>
