<!-- 所有する株式一覧を表示する -->
<HTML>
<head>
    <meta charset="UTF-8">
    <title>所有銘柄一覧</title>
</head>
<body>
    <div th:replace="~{header :: header}"></div>
    <h1>所有銘柄一覧</h1>

    <!-- if errorMessageが定義されていれば赤で表示する -->
    <p th:if="${errorMessage != null}" style="color: red;" th:text="${errorMessage}"></p>

    <form th:action="@{/stock/update}" method="post">
        <table border="1">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll" onclick="toggle(this);" /> チェック</th>
                    <th>銘柄コード</th>
                    <th>銘柄名</th>
                    <th>セクター名</th>
                    <th>国名</th>
                    <th>現在の株価</th>
                    <th>最新配当(円)</th>
                    <th>業績発表日</th>
                    <th>最終更新日時</th>
                    <th>編集</th>
                    <th>削除</th>
                </tr>
            </thead>
            <tbody>
                <!-- if emptyを使用して、銘柄がない場合のメッセージを表示 -->
                <tr th:if="${#lists.isEmpty(stock)}">
                    <td colspan="11">所有する銘柄がありません。</td>
                </tr>
                <!-- 銘柄データのループ -->
                <tr th:each="stock : ${stock}">
                    <td><input type="checkbox" name="selectedIds" th:value="${stock.id}" /></td>
                    <td th:text="${stock.code}">7203</td>
                    <td th:text="${stock.name}">トヨタ自動車</td>
                    <td th:text="${stock.sector_id.name}">情報・通信</td>
                    <td th:text="${stock.country}">jp</td>
                    <td th:text="${stock.current_price != null} ? ${#numbers.formatInteger(stock.current_price, 3, 'COMMA')} : ' - '">1,000</td>
                    <td th:text="${stock.latestDividend != null} ? ${#numbers.formatDecimal(stock.latestDividend, 1, 2)} : ' - '">95.00</td>
                    <td th:text="${stock.earningsDate != null} ? ${#temporals.format(stock.earningsDate, 'yyyy/MM/dd')} : ' - '">2025/08/07</td>
                    <td th:text="${stock.lastUpdated != null} ? ${#temporals.format(stock.lastUpdated, 'yyyy/MM/dd HH:mm')} : ' - '">2025/08/15 15:00</td>
                    <td>
                        <a th:href="@{/stock/edit/{id}(id=${stock.id})}">編集</a>
                    </td>
                    <td>
                        <a href="#" th:onclick="'javascript:deleteStock(' + ${stock.id} + '); return false;'">削除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="選択した銘柄を更新" th:if="${not #lists.isEmpty(stock)}" />
    </form>
    <a href="/stock/csv" th:if="${not #lists.isEmpty(stock)}">CSV形式でダウンロード</a>
    <div th:replace="~{footer :: footer}"></div>
    <script>
        function toggle(source) {
            checkboxes = document.getElementsByName('selectedIds');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }

        function deleteStock(stockId) {
            if (confirm('本当に削除しますか？')) {
                var form = document.createElement('form');
                form.method = 'post';
                form.action = /*[[@{/stock/delete}]]*/ '/stock/delete';

                var idInput = document.createElement('input');
                idInput.type = 'hidden';
                idInput.name = 'id';
                idInput.value = stockId;
                form.appendChild(idInput);

                document.body.appendChild(form);
                form.submit();
            }
        }
    </script>
</body>
</html>