<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>機能一覧</title>
</head>
<body>
    <div th:replace="~{header :: header}"></div>
    <h1>機能一覧</h1>
    <ul>
        <li><a href="/stock">株式一覧</a></li>
        <li><a href="/broker">証券会社一覧</a></li>
        <li><a href="/holdings">保有株式一覧</a></li>
        <li><a href="/owner">名義人一覧</a></li>
        <li><a href="/sector">セクター一覧</a></li>
    </ul>
    <div th:replace="~{footer :: footer}"></div>
</body>
</html>
